{{!-- templates/htmlFooter.hbs --}}
</main>
<footer>
    <div class="footerContainer">

        <div class="footerItem" id="uptoTop">
            <a href="#">
                Seitenanfang
            </a>
        </div>
    </div>

    <a href="#">
        <img src="{{global.img}}/arrowUp.svg" alt="Zum Seiten Anfang" id="arrowUp">
    </a>

</footer>

</body>

</html>