{{!-- templates/htmlHeader.hbs --}}

{{include "mainMeta"}}

<body>

    <header>
        <div class="logoInpageNav">
            {{!-- Anzeige des Unternehmenslogos --}}
            <a href="/">
                <img src="{{global.img}}/logo.png" alt="Unternehmens Logo" class="logo">
            </a>


        </div>
    </header>

    <main>